<Page [ngClass]="'list'" *ngIf="!showOrderInfoFlag" [title]="'我的订单'" [subTitle]="'可下拉刷新'" [spacing]="false">
  <div class="weui-cells">
    <div class="weui-cell weui-cell_access" (click)="showOrderInfo()">
      <div class="weui-cell__hd">
        <img src="assets/images/svg/si-glyph-cubic.svg">
      </div>
      <div class="weui-cell__bd">
        <strong>单号:1482</strong> <br>
        <small>2017-05-08 00:00:00</small><br>
        <small>内容:文件</small><br>
      </div>
      <div class="weui-cell__ft">已反馈</div>
    </div>
    <a class="weui-cell weui-cell_access" (click)="showOrderInfo()">
      <div class="weui-cell__hd">
        <img src="assets/images/svg/si-glyph-cubic.svg">
      </div>
      <div class="weui-cell__bd">
        <strong>单号:1482</strong> <br>
        <small>2017-05-08 00:00:00</small><br>
        <small>内容:文件</small><br>
      </div>
      <div class="weui-cell__ft">已反馈</div>
    </a>
  </div>
</Page>
<div *ngIf="showOrderInfoFlag">
  <app-order-info (backEvent)="showOrderList()"></app-order-info>
</div>


