<div class="row">
  <div class="col-sm-6">
    <div [ng2-highcharts]="chartOptions" class="graph"></div>
  </div>
  <div class="col-sm-6">
    <div [ng2-highcharts]="chartBar" class="graph"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div [ng2-highcharts]="chartPie" class="graph"></div>
  </div>
  <div class="col-sm-6">
    <div [ng2-highcharts]="chartMulti" class="graph"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div [ng2-highcharts]="chart3D" class="graph"></div>
  </div>
  <div class="col-sm-6">
    <div [ng2-highcharts]="chartGauge" class="graph"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div [ng2-highstocks]="chartStock" class="graph"></div>
  </div>
  <div class="col-sm-6">
    <div [ng2-highmaps]="chartMap" class="graph"></div>
  </div>
</div>
