<Page [ngClass]="'list'" [title]="'我的订单'" [subTitle]="'可下拉刷新'" [spacing]="false">
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd">
        <img src="assets/images/svg/si-glyph-cubic.svg" style="width:40px;margin-right:10px;display:block">
      </div>
      <div class="weui-cell__bd">
        <strong>单号:1482</strong> <br>
        <small>2017-05-08 00:00:00</small><br>
        <small>内容:文件</small><br>
      </div>
      <div class="weui-cell__ft">已反馈</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd">
        <img src="assets/images/svg/si-glyph-cubic.svg" style="width:40px;margin-right:10px;display:block">
      </div>
      <div class="weui-cell__bd">
        <strong>单号:1482</strong> <br>
        <small>2017-05-08 00:00:00</small><br>
        <small>内容:文件</small><br>
      </div>
      <div class="weui-cell__ft">已反馈</div>
    </a>
  </div>
</Page>
