<div class="topbar" readonly="heading">
  <div class="console-component-topbar" role="menubar">
    <div class="topbar-wrap">
      <div class="topbar-head topbar-left">
        <a href="http://www.aliyun.com" title="http://www.aliyun.com" target="_blank"
           class="topbar-btn topbar-logo topbar-left">
          <span class="icon-logo-new"></span>
        </a>
        <a href="http://home.console.aliyun.com" target="_self" class="topbar-home-link topbar-btn topbar-left">
          <span>管理控制台</span>
        </a>
      </div>

      <div class="topbar-info topbar-right topbar-clearfix">
        <!-- 搜索 -->
        <div class="topbar-search topbar-left topbar-info-dropdown">
          <a href="#" class="topbar-btn topbar-hover-dark">
            <span class="icon-search"></span><span>搜索</span>
          </a>
          <div class="topbar-search-dropdown topbar-info-dropdown-memu">
            <input class="topbar-search-ask ng-pristine ng-valid" type="text" name="input" autocomplete="off"
                   placeholder="搜索">
            <a target="_blank" class="topbar-search-mark icon-enter"></a>
          </div>
        </div>
        <!-- 站内信 -->
        <div class="dropdown topbar-notice topbar-left topbar-info-dropdown topbar-info-item">
          <a href="https://msc.console.aliyun.com/#/innerMsg/unread/0"
             class="topbar-btn topbar-btn-notice topbar-hover-dark">
            <span class="topbar-btn-notice-icon icon-bell"></span>
            <span class="topbar-btn-notice-num">213</span>
          </a>
          <div class="topbar-notice-panel topbar-info-dropdown-memu">
            <div class="topbar-notice-arrow"></div>
            <div class="topbar-notice-head">
              <span class="ng-binding">站内消息通知</span>
              <a>消息接收管理</a>
            </div>
            <div class="topbar-notice-body">
              <ul>
                <li class="topbar-notice-readed">
                  <a>
                  <span class="inline-block">
                    <span class="topbar-notice-link">云服务器即将到期提醒</span>
                    <span class="topbar-notice-time">2017-05-15 13:04</span>
                  </span>
                    <span class="topbar-notice-class">
                    <span class="topbar-notice-class-name">弹性计算</span>
                  </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="topbar-notice-foot">
              <a class="topbar-notice-more" target="_blank">查看更多</a>
            </div>
          </div>
        </div>
        <div class="topbar-left topbar-info-item topbar-info-dropdown">
          <a href="https://expense.console.aliyun.com/" target="_blank" class="topbar-btn topbar-info-dropdown-toggle">
            <span class="ng-binding">费用</span>
          </a>
          <ul class="topbar-info-dropdown-memu topbar-info-dropdown-memu-list">
            <li class="topbar-info-btn">
              <a href="https://expense.console.aliyun.com/#/account/recharge/alipay" target="_blank">
                <span>充值</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- 工单 -->
        <div class="topbar-left topbar-info-item topbar-info-dropdown ">
          <a href="https://workorder.console.aliyun.com" target="_blank" class="topbar-btn topbar-info-dropdown-toggle">
            <span>工单</span>
          </a>
          <ul class="topbar-info-dropdown-memu topbar-info-dropdown-memu-list">
            <li class="topbar-info-btn ">
              <a href="https://workorder.console.aliyun.com/#/ticket/list/" target="_blank">
                <span>我的工单</span>
              </a>
            </li>
            <li class="topbar-info-btn ">
              <a href="https://selfservice.console.aliyun.com/ticket/createIndex" target="_blank">
                <span>提交工单</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- 备案 -->
        <div class="topbar-left topbar-info-item topbar-info-dropdown ">
          <a href="https://bsn.console.aliyun.com/#/bsnApply/ecs" target="_blank"
             class="topbar-btn topbar-info-dropdown-toggle">
            <span class="ng-binding">备案</span>
          </a>
          <ul class="topbar-info-dropdown-memu topbar-info-dropdown-memu-list">
            <li class="topbar-info-btn ">
              <a href="https://bsn.console.aliyun.com/#/bsnApply/ecs" target="_blank">
                <span class="ng-binding">备案服务号申请</span>
              </a>
            </li>
            <li class="topbar-info-btn ">
              <a href="https://bsn.console.aliyun.com/#/bsnManagement" target="_blank">
                <span class="ng-binding">备案服务号管理</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- 企业 -->
        <!-- 支持 -->
        <div class="topbar-left topbar-info-item topbar-info-dropdown">
          <a href="http://help.aliyun.com/" target="_blank" class="topbar-btn topbar-info-dropdown-toggle">
            <span>支持</span>
          </a>
          <ul class="topbar-info-dropdown-memu topbar-info-dropdown-memu-list ">
            <li class="topbar-info-btn ">
              <a href="http://help.aliyun.com" target="_blank">
                <span>帮助与文档</span>
              </a>
            </li>
            <li class="topbar-info-btn ">
              <a href="https://connect.aliyun.com/" target="_blank">
                <span>提交建议</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- user -->
        <div class="topbar-left topbar-user topbar-user-large">
          <div class="topbar-info-dropdown topbar-info-item">
            <a href="https://account.console.aliyun.com" target="_blank" class="topbar-info-dropdown-toggle topbar-btn">
              <span title="wanpe******@gmail.com">wanpe******@gmail.com</span>
            </a>
            <div class="topbar-info-dropdown-memu topbar-align-right">
              <div class="topbar-user-entrance-list">
                <a ng-repeat="link in data.navLinks.user.links" class="topbar-user-entrance "
                   href="https://account.console.aliyun.com/#/basicInfo">
                  <span class="topbar-user-entrance-logo icon-topbar-user-info"></span>
                  <span>基本资料</span>
                </a>
              </div>
              <div>
                <div class="user-btn-list">
                  <a class="user-btn-link" href="https://account.aliyun.com/logout/logout.htm?oauth_callback=https%3A%2F%2Fhome.console.aliyun.com%2Fnew" target="_self"><span class="ng-binding">退出管理控制台</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
