<Page [ngClass]="'list'" [title]="'浙江邮政包裹揽收系统'" [subTitle]="'欢迎使用'" [spacing]="false">
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" [routerLink]="['/pages/customer-view']">
      <div class="weui-cell__hd">
      </div>
      <div class="weui-cell__bd">
        <img src="assets/images/png/login_customer.png" class="img-rounded" class="portrait" >
      </div>
      <div class="weui-cell__ft">客户入口</div>
    </a>
    <a class="weui-cell weui-cell_access" [routerLink]="['/pages/staff-view']">
      <div class="weui-cell__hd">
      </div>
      <div class="weui-cell__bd">
        <img src="assets/images/png/login_staff.png" class="img-rounded" class="portrait">
      </div>
      <div class="weui-cell__ft">揽收员入口</div>
    </a>
  </div>
</Page>

<!--[routerLink]="['/pages/customer-view']"-->


