
<Page [ngClass]="'preview'" [title]="title" [subTitle]="'已反馈'" [spacing]="false" [showBack]="'true'" (backEvent)="back()">
  <div class="weui-cells__title">包裹内容</div>
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">内容</label>
        <span class="weui-form-preview__value">电动打蛋机</span>
      </div>
    </div>
  </div>

  <div class="weui-cells__title">收件人信息</div>
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">姓名</label>
        <span class="weui-form-preview__value">电动打蛋机</span>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">联系电话</label>
        <span class="weui-form-preview__value">电动打蛋机</span>
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        <label for="" class="weui-label">省</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" value="1" disabled>
          <option value="1">浙江</option>
        </select>
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        <label for="" class="weui-label">市</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" value="1" disabled>
          <option value="1">杭州</option>
        </select>
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        <label for="" class="weui-label">县</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" value="1" disabled>
          <option value="1">杭州</option>
        </select>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">地址</label>
        <span class="weui-form-preview__value">电动打蛋机</span>
      </div>
    </div>
  </div>

  <div class="weui-cells__title">寄件人信息</div>
  <div class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">姓名</label>
        <span class="weui-form-preview__value">电动打蛋机</span>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">联系电话</label>
        <span class="weui-form-preview__value">电动打蛋机</span>
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        <label for="" class="weui-label">省</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" value="1" disabled>
          <option value="1">浙江</option>
        </select>
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        <label for="" class="weui-label">市</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" value="1" disabled>
          <option value="1">杭州</option>
        </select>
      </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__bd">
        <label for="" class="weui-label">县</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" value="1" disabled>
          <option value="1">杭州</option>
        </select>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">地址</label>
        <span class="weui-form-preview__value">电动打蛋机</span>
      </div>
    </div>
  </div>
</Page>
