<div class="sidebar">
  <div class="sidebar-nav">
    <div class="sidebar-title sidebar-trans">
      <div class="side-bar-title-inner">
        <span class="sidebar-title-icon glyphicon glyphicon-menu-right"></span>
        <span class="sidebar-title-text">微信公众号管理</span>
      </div>
    </div>
    <ul class="sidebar-trans">
      <li class="nav-item">
        <a [routerLink]="['/pages/wechatApp/wechatAppAccess']" [routerLinkActive]="['active']" class="sidebar-trans">
          <div class="nav-icon sidebar-trans">
            <span class="glyphicon glyphicon-link"></span>
          </div>
          <span class="nav-title">微信接入管理&nbsp;</span>
        </a>
      </li>
    </ul>
    <ul class="sidebar-trans">
      <li class="nav-item">
        <a [routerLink]="['/pages/wechatApp/wechatAppMenu']" [routerLinkActive]="['active']" class="sidebar-trans">
          <div class="nav-icon sidebar-trans">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
          <span class="nav-title">微信菜单管理&nbsp;</span>
        </a>
      </li>
    </ul>
  </div>

</div>

