<Page [ngClass]="'list'" *ngIf="currentView == 'list'" [title]="title" [subTitle]="subTitle" [spacing]="false">
  <div class="weui-cells">
    <div class="weui-cell weui-cell_access" *ngIf="InquiryList.indexOf('price-inquiry')>-1"  (click)="showItem('price-inquiry')">
      <div class="weui-cell__hd">
        <img src="assets/images/svg/si-glyph-money-bag.svg">
      </div>
      <div class="weui-cell__bd">
        <strong>资费查询</strong> <br>
      </div>
      <div class="weui-cell__ft">进入</div>
    </div>
    <div class="weui-cell weui-cell_access"  *ngIf="InquiryList.indexOf('weight-inquiry')>-1" (click)="showItem('weight-inquiry')">
      <div class="weui-cell__hd">
        <img src="assets/images/svg/si-glyph-weight-kilograms.svg">
      </div>
      <div class="weui-cell__bd">
        <strong>重量稽核</strong> <br>
      </div>
      <div class="weui-cell__ft">进入</div>
    </div>
  </div>
</Page>
<div *ngIf="currentView == 'price-inquiry'">
  <app-price-inquiry (backEvent)="showList()"></app-price-inquiry>
</div>
<div *ngIf="currentView == 'weight-inquiry'">
  <app-weight-inquiry (backEvent)="showList()"></app-weight-inquiry>
</div>


