<p>
  wechat-app works!
</p>
<div class="">
  <button type="button" class="btn btn-primary glyphicon glyphicon-plus" (click)="onCreate()">新增</button>
  <button type="button" class="btn btn-info glyphicon glyphicon-pencil" (click)="onEdit()">编辑</button>
  <button type="button" class="btn btn-warning glyphicon glyphicon-stop">停用</button>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (create)="onCreate()"
      (createConfirm)="onCreateConfirm()"
      (edit)="onEdit()"
      (editConfirm)="onEditConfirm()"
      (delete)="onDelete()"
      (deleteConfirm)="onDeleteConfirm"
      (rowSelect)="onRowSelect($event)"
      [isAllSelected]="isAllSelected"
    ></ng2-smart-table>

    <div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{createModalTitle}}</h4>
            <button type="button" class="close pull-right" (click)="hideCreateModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="createForm" novalidate>
              <div class="form-group">
                <label class="center-block"><span class="star">*</span>公众号:
                  <div class="msg-display-inline" [hidden]="createForm.get('name').status=='VALID' || createForm.get('name').untouched">不能为空</div>
                  <input class="form-control" formControlName="name">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block"><span class="star">*</span>接入路径:
                  <div class="msg-display-inline" [hidden]="createForm.get('accessPath').status=='VALID' || createForm.get('accessPath').untouched">不能为空</div>
                  <input class="form-control" formControlName="accessPath">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block"><span class="star">*</span>appId:
                  <div class="msg-display-inline" [hidden]="createForm.get('appId').status=='VALID' || createForm.get('appId').untouched">不能为空</div>
                  <input class="form-control" formControlName="appId">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block"><span class="star">*</span>secret:
                  <div class="msg-display-inline" [hidden]="createForm.get('secret').status=='VALID' || createForm.get('secret').untouched">不能为空</div>
                  <input class="form-control" formControlName="secret">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block"><span class="star">*</span>token:
                  <div class="msg-display-inline" [hidden]="createForm.get('token').status=='VALID' || createForm.get('token').untouched">不能为空</div>
                  <input class="form-control" formControlName="token">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block"><span class="star">*</span>aseKey:
                  <div class="msg-display-inline" [hidden]="createForm.get('aseKey').status=='VALID' || createForm.get('aseKey').untouched">不能为空</div>
                  <input class="form-control" formControlName="aseKey">
                </label>
              </div>

              <div class="form-group">
                <label class="center-block">备注:
                  <textarea rows="2" class="form-control" formControlName="comments"></textarea>
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="createForm.status=='INVALID'" (click)="hideCreateModal(createForm.value)">保存</button> &nbsp;
            <button class="btn btn-primary" (click)="hideCreateModal()">取消</button>
          </div>
        </div>
      </div>
    </div>
    <div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{updateModalTitle}}</h4>
            <button type="button" class="close pull-right" (click)="hideUpdateModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="updateForm" novalidate>
              <div class="form-group">
                <label class="center-block">公众号:
                  <div class="msg-display-inline" [hidden]="updateForm.get('name').status=='VALID' || updateForm.get('name').untouched">不能为空</div>
                  <input class="form-control" formControlName="name">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block">接入路径:
                  <div class="msg-display-inline" [hidden]="updateForm.get('accessPath').status=='VALID' || updateForm.get('accessPath').untouched">不能为空</div>
                  <input class="form-control" formControlName="accessPath">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block">appId:
                  <div class="msg-display-inline" [hidden]="createForm.get('appId').status=='VALID' || createForm.get('appId').untouched">不能为空</div>
                  <input class="form-control" formControlName="appId">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block">secret:
                  <div class="msg-display-inline" [hidden]="updateForm.get('secret').status=='VALID' || updateForm.get('secret').untouched">不能为空</div>
                  <input class="form-control" formControlName="secret">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block">token:
                  <div class="msg-display-inline" [hidden]="updateForm.get('token').status=='VALID' || updateForm.get('token').untouched">不能为空</div>
                  <input class="form-control" formControlName="token">
                </label>
              </div>
              <div class="form-group">
                <label class="center-block">aseKey:
                  <div class="msg-display-inline" [hidden]="updateForm.get('aseKey').status=='VALID' || updateForm.get('aseKey').untouched">不能为空</div>
                  <input class="form-control" formControlName="aseKey">
                </label>
              </div>

              <div class="form-group">
                <label class="center-block">备注:
                  <textarea rows="2" class="form-control" formControlName="comments"></textarea>
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="updateForm.status=='INVALID'" (click)="hideUpdateModal(updateForm.value)">保存</button> &nbsp;
            <button class="btn btn-primary" (click)="hideUpdateModal()">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




